Source: linux-5.10.160-rockchip
Section: kernel
Priority: optional
Maintainer: root <root@wenjing-virtual-machine>
Rules-Requires-Root: no
Build-Depends: bc, rsync, kmod, cpio, bison, flex | flex:native , , libssl-dev:native
Homepage: https://www.kernel.org/

Package: linux-image-5.10.160-rockchip
Architecture: arm64
Description: Linux kernel, version 5.10.160-rockchip
 This package contains the Linux kernel, modules and corresponding other
 files, version: 5.10.160-rockchip.

Package: linux-headers-5.10.160-rockchip
Architecture: arm64
Description: Linux kernel headers for 5.10.160-rockchip on arm64
 This package provides kernel header files for 5.10.160-rockchip on arm64
 .
 This is useful for people who need to build external modules
